[MASTER]
load-plugins=pylint_django
django-settings-module=codestar.settings
ignore=migrations

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-function-docstring

[FORMAT]
max-line-length=100
indent-string='    '
